@*<form>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addonDep">Departure</span>
            <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addonArr">Arrival</span>
            <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1">
        </div>

    <input type="button" class="btn btn-default" value="Price" onclick="@("window.location.href='" + Url.Action("GetFlight", "Flight") + "'");" />
    </form>*@

<h2>
    Search your flight via following cretiria
</h2>
<div class="row">
    <div class="col">

        <input type="button" class="btn btn-default" value="Price" onclick="@("window.location.href='" + Url.Action("Price", "Flight") + "'");" />
    </div>
    <div class="col">

        <input type="button" class="btn btn-default" value="Airline" onclick="@("window.location.href='" + Url.Action("Airline", "Flight") + "'");" />

    </div>
    <div class="col">

        <input type="button" class="btn btn-default" value="Destination" onclick="@("window.location.href='" + Url.Action("Destination", "Flight") + "'");" />

    </div>
    <div class="col">

        <input type="button" class="btn btn-default" value="Destination & Price" onclick="@("window.location.href='" + Url.Action("Destination&Price", "Flight") + "'");" />

    </div>
</div>

